$container-width:   1140px !default;
$container-padding: 15px   !default;
$responsive-cutoff: 768px  !default;

$h1-font-size: 2.5rem  !default;
$h2-font-size: 2rem    !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem  !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem    !default;

// Color Pallete
$palette: (
  deepspace:     #003247,
  enlightyellow: #fbAb18,
  excitered:     #ed1b2f,
  trustyazure:   #009bdb,
  pureteal:      #00ae9d,
  neutralspace:  #e8e8e4,
);

$color-fg: #{map-get($palette, neutralspace)}  !default;
$color-bg: #{map-get($palette, deepspace)}     !default;
$color-mg: #{map-get($palette, enlightyellow)} !default;
$color-ac: #{map-get($palette, excitered)}     !default;
$color-far: #{map-get($palette, pureteal)}     !default;

@import "_reset.scss";
@import "_color.scss";
@import "_layout.scss";
@import "_buttons.scss";
@import "_table.scss";
@import "_utils.scss";
@import "_grid.scss";
@import "_responsive.scss";
@import "_alerts.scss";
@import "_main.scss";
@import "_keynote.scss";
